*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

header{
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 999;
}

a{
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  padding left: 1%;
  color: black
}

li{
  list-style: none;
}

main{
  margin-top: 90px;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  height: 80px;
}

.left-nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
}

.right-nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}

.inizia{
background-color: blue;
color: white;
}

.jumbodrone{
  height: 740px;
  background-color: rgb(180,208,231);
  margin: 0 auto;
  padding-left: 20%;
}

.jumbone{
  height: 100%;
  display: flex;
}


h1{
  font-size: 4.5rem;
  font-family: 'Open Sans', sans-serif;
}

.finalmente{
  padding-top: 2%;
}

.prova{
  padding-top: 10%;
}

.prova-tasto{
  background-color: blue;
  color: white;
}

.annulla{
  padding-top: 10%;
}

.freccia-giu i{
  font-size: 4rem;
  padding-top: 10%;
}

.testo-jumbo{
  width: 30%;
  display: flex;
  flex-direction: column;
  padding-top: 3%;
}

.proposta{
  width:70%;
  padding-top: 8%;
}
