*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  margin: 0 auto;
  max-width: 1200px;
}

.container1000{
  margin: 0 auto;
  max-width: 1000px;
}

body{
  font-family: 'Open Sans', sans-serif;
}

img{
  max-width: 100%;
}

.d-flex{
  display: flex;
}

header{
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 999;
}

header a{
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  color: black
}

li{
  list-style: none;
}

main{
  margin-top: 90px;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  height: 80px;
}

.left-nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}

.inizia{
background-color: blue;
color: white;
}

.jumbodrone{
  background-color: rgb(180,208,231);
}

h1{
  font-size: 4.5rem;
  font-family: 'Open Sans', sans-serif;
}

.jumbone{
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;
  padding: 50px;
}

.jumbo-content{
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  height: 350px;
}

.finalmente{
  padding-top: 2%;
}

.prova{
  padding-top: 5%;
}

.prova-tasto{
  background-color: blue;
  color: white;
}

.annulla{
  padding-top: 30px;
}

.freccia-giu i{
  font-size: 4rem;
  padding-top: 15px;
}

.testo-jumbo{
  width: 37%;
}

.img-jumbo{
  width: 80%;
  position: relative;
}

.proposta{
  width: 100%;
  position: absolute;
}

.trova-titolo{
  padding-top: 4%;
  padding-bottom: 2%;
}

/* Stile per il label che funge da radio button personalizzato */
.custom-radio {
  cursor: pointer;
  padding-left: 30px; 
  position: relative; 
  margin-right: 20px; 
  display: inline-block; 
}

.radio-group{
  padding-bottom: 3%;
}

/* Crea il cerchio esterno del radio button */
.custom-radio::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid blue;
}

/* Crea il cerchio interno del radio button */
.custom-radio::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 6px; 
  transform: translateY(-50%);
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: blue;
  opacity: 0; 
}

/* Mostra il cerchio interno quando il radio button è selezionato */
input[type="radio"]:checked + .custom-radio::after {
  opacity: 1;
}

/* Tabelle */

.tab-t{
  border-bottom: 2px solid grey;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.tabelle{
  justify-content: space-between;
}

.card{
  border: 1px solid black;
  width: 30%;
}

.tab-body{
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.tab-body h3{
  font-size: 1rem;
}

.chiacchiere{
  padding-top: 80px;
}

.img-chiacchiere{
  width: 60%;
}

.text-b{
  width: 40%;
  font-size: 1rem;
  padding-top: 90px;
  padding-left: 40px;
}

#entra{
  font-size: 1.5rem;
  padding-bottom: 10px;
}

#trova{
  font-weight: 5em;
  padding-bottom: 10px;
}

.bordo{
  padding-top: 10px;
  border: 1px solid black;
  padding: 5px;
  padding-right: 5px;
  display: inline-block;
}

.cartine{
  padding-top: 120px;
}

.cartine h2{
  padding-bottom: 15px;
  font-size: 3rem;
}

.crd{
  padding-top: 15px;
}

.titolone h3{
  padding-top: 80px;
  font-size: 3rem;
}

.titolone a{
  padding-top: 15px;
}

/* Scacchiera */

.scacchiera{
  padding-top: 70px;
  width: 100vw
}

.grid{
  display: grid;
}

.macro{
  height: 66vh;
}

.square{
  width: 50%;
  height: 50%;
  aspect-ratio: 1 / 1;
  border: 1px solid black;
}

.square img{
  width: 50%;
}

.right{
  background-color: green;
  height: 100%;
  flex-wrap: wrap;
  width: 33%;
  aspect-ratio: 1 / 1;
}

.left{
  background-color: purple;
  height: 100%;
  flex-wrap: wrap;
  width: 33%;
  aspect-ratio: 1 / 1;
}

.center{
  background-color: rgb(245,245,245);
  height: 100%;
  width: 33%;
  overflow: auto;
  padding-top: 3rem;
  padding-left: 3rem;
  aspect-ratio: 1 / 1;
}

.designit{
  background-color: #D0E9CD;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
}

.asu{
  background-color: #61082B;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
}

.florida{
  background-color: #0093CE;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
}

.topps{
  background-color: #D5001F;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
}

.bicycle{
  background-color: #D5001F;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
}

.hearst{
  background-color: #B4D0E7;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
}

.lonely{
  background-color: #0D2481;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
}

.clear{
  background-color: #FFD830;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
}

.verdone{
  justify-content: center;
  align-items: center;
  background-color: #A2D39B;
  height: 85%;
  width: 85%;
}

.separator {
  border: 0;
  height: 2px; 
  background-color: #000; 
  margin: 10px 0; 
  width: 15%;
}

.morten{
  padding-top: 30px;
}

.logo-white{
  filter: invert(1);
}

.porta{
  height:365px;
  background-color: #B4D0E7;
  justify-content: center;
  align-items: center;
}

.h2-porta{
  color: #61082B;
  font-size: 2.5rem;
  font-weight: bolder;
  padding-right: 10%;
}

.inizia-prova {
  background-color: white;
  padding: 10px 25px
}

.inizia-prova a{
  text-decoration: none;
  color: black;
}

.domande-frequenti{
  padding-top: 100px;
  padding-bottom: 100px;
}

.question p{
  display: none;
}

.question:hover p,
.question:hover .fa-chevron-up{
  display: block;
}

.question:hover .fa-chevron-down,
.question .fa-chevron-up{
  display: none;
}

.container1000 h3{
  padding-bottom: 70px;
  font-size: 1.8rem;
}

.question{
  padding: 30px;
  position: relative;
}

.question i{
  position: absolute;
  right: 10px;
}

footer{
  background-color: #000;
  height: 580px;
  color: white;
}

.footer-list{
  justify-content: space-between;
  height: 230px;
}

.li ul h4{
  font-size: 1.2rem;
  padding-bottom: 50px;
  padding-top: 110px;
}

.li ul li{
  line-height: 30px;
  font-size: 1rem;
} 

.separator-2{
  border: 0;
  height: 2px; 
  background-color: white; 
  margin: 10px 0; 
  width: 15%;
  margin-top: 250px;
}

.language{
  margin-top: 50px;
  margin-bottom: 40px;
}